## SQL Alchemy

## Creating connection

### Import necessary libraries

In [6]:
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

### Declaring DATABASE_URI and creating engine

In [7]:
DATABASE_URI = 'postgres+psycopg2://postgres:marat@localhost:5432/datalab'

engine = create_engine(DATABASE_URI)

## Read from SQL

In [9]:
sql = 'SELECT * FROM books'

df = pd.read_sql(sql, engine)
df

   id          title          author  pages   published
0   1  Deep Learning  Ian Goodfellow    775  2016-11-18

### Saving to scv

In [4]:
df.to_csv('books.csv', index=False)

## Defining a table

In [10]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date

Base = declarative_base()

class Book(Base):
    __tablename__ = 'books'
    id = Column(Integer, primary_key=True)
    title = Column(String)
    author = Column(String)
    pages = Column(Integer)
    published = Column(Date)
    
    def __repr__(self):
        return "<Book(title='{}', author='{}', pages={}, published={})>"\
                .format(self.title, self.author, self.pages, self.published)

### Creating a table

In [12]:
Base.metadata.create_all(engine)

### Function to recreate the database

In [19]:
def recreate_database():
    Base.metadata.drop_all(engine)
    Base.metadata.create_all(engine)

## Working with sessions

In [14]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)

s = Session()

## Inserting rows

### Create model

In [16]:
from datetime import datetime

book = Book(
    title='Deep Learning',
    author='Ian Goodfellow',
    pages=775,
    published=datetime(2016, 11, 18)
)

### Adding the object to the session and Committing:

In [17]:
s.add(book)
s.commit()

### Close any open sessions and recreate the database

In [23]:
s.close_all()
recreate_database()
engine.dispose()

<ipython-input-23-84265e01e430>:1: SADeprecationWarning: The Session.close_all() method is deprecated and will be removed in a future release.  Please refer to session.close_all_sessions().
  s.close_all()